
client/client_secret_1049540371834-tursdpvmhlcrbe2p04g6u6kag9h5p3s9.apps.googleusercontent.com.json
/client/storage
client/modules/client_secret_1049540371834-tursdpvmhlcrbe2p04g6u6kag9h5p3s9.apps.googleusercontent.com.json
/venv
