<!doctype html>
<html lang="en">

<head>
  <!--Link to CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin" action="{{url_for('chat')}}" method="POST">
    <h1 class="h2 mb-3 font-weight-normal">Sign In</h1><br><br>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus><br>
    <input type="text" id="pass" name="Password" class="form-control" placeholder="Password" required><br>
    <p>Don't have an account? <a href="./signup">Sign Up</a></p>
    <button class="btn btn-lg btn-primary btn-block" value="submit">Sign In</button>
  </form>
</body>

</html>